@import './font.css';
#tab-bar.demo { display: flex; flex-direction: column;
}
#tab-bar .demoName { height: 40px;}
#tab-bar .demo-preview-item .am-tab-bar { background-color: white;}

.listItem{ height: 90px;border-bottom: 1px solid #d3d3d3; }
$themeColor:#14c1c8;
/***************公共的样式******************/
//模拟checkbox
.wmsCheckBox{
	height: 26px;
	width: 26px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	margin-left:6px;
}
.wmsCheckBox>.unCheckedtab{font-size:26px; color:#c3c3c3;position: absolute; top:0px;}
.wmsCheckBox>.checkedtab{font-size:26px; color:$themeColor;position: absolute; top:0px;}

.subPage{position:fixed; top:0; left:0; right:0; bottom:0;background:#FFF; z-index:22;}
/**************登录页面*****************/
@mixin bottomAfterSet {
    right: 19px!important;
	width: initial!important;
	/*background-color: #848484!important;*/
}
$font14:14px;

@mixin titleClass {
	font-size:$font14;
	line-height: 26px;
	margin-top:4px;
    padding-left:4px;
}

.loginSection{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#FFF;
	.am-list-body{border-top:0px solid #ddd!important;}
	.am-list-body::before {
		display:none!important;
	}
	.am-list-item:not(:last-child) .am-list-line::after{
	    @include bottomAfterSet;
	}
	.am-list-body::after{
		left: 19px!important;
        @include bottomAfterSet;
	}
	.formActive .am-list-item::after{
		background:#0097e5;
	}
	.btnBox{
		margin-top:16px;
	}
}


@mixin fontSet($size,$lineHeight,$color,$weight:'normal',$align:'left') {
    font-size: $size;
    font-weight:$weight;
    color:$color;
    line-height: $lineHeight;
    text-align:$align;
}

.sub-title{
   @include titleClass
}
.pageErrorTitle{
   @include fontSet(62px,122px,#0097e5,bold,center);
}
.pageNofind { text-align:center; padding-top:120px;}
.pageNofind p{text-align:center;}
.pageNofind a{margin-top:50px;}
/**************简单的页面切换动画*已弃用*****************/
.animate-route{
  animation-duration:.6s;
  animation-fill-mode: both;
  animation-name: fadeRoute;
}

@keyframes fadeRoute {
  from {
    /*transform: translateX(100%);*/
  }

  to {
    /*transform: translateX(0);*/
  }
}


/**************其他*****************/
.btnBox{ padding:10px 12px; }
.bottomBar{position:fixed; bottom:0; left:0; right:0; height:72px; border-top:1px solid #dddddd; background:#FFF; z-index:9;}
.btnGroup{margin:6px 12px 0px;}
.btnGroup .am-button{
	height: 58px;
	line-height: 58px;
}
.btnGroup .am-button span{
	font-size: 22px!important;
}
.inputRightBtn {
   .am-list-item{
    	.am-input-extra{
    	  overflow: initial;
    	}
   }
} 
.checkboxAlign{
	.am-checkbox-inner{
		top:0px!important;
	}
} 
.logoArea{width:160px; height:auto; margin:111px auto 20px;}
.logoArea{
   img{ width:100%; height:auto; }
}


.checkItem{
	display:inline-block;
	margin-right:32px;
}

/*****************来料检验******************/
.chooseOrderList{
	height:154px;
	overflow-y: scroll;
	li{
		height:44px;
		line-height:44px;
		position:relative;
		padding-left:42px;
		text-align:left;
		.order_checkIc{
			position:absolute;
			top:6px;
			left:10px;
			display:none;
		}
	}
	li:not(:last-child){border-bottom:1px solid #ddd;}
	li.active{
		color:#108ee9;
		.order_checkIc{
			display:block;
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	html:not([data-scale]) .chooseOrderItem{
	  border-bottom: none;
	}
	html:not([data-scale]) .chooseOrderItem:not(:last-child)::after {
	  content: '';
	  position: absolute;
	  background-color: #ddd;
	  display: block;
	  z-index: 1;
	  top: auto;
	  right: auto;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 1PX;
	  -webkit-transform-origin: 50% 100%;
		  -ms-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  -webkit-transform: scaleY(0.5);
		  -ms-transform: scaleY(0.5);
			  transform: scaleY(0.5);
	}

  }
  @media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
	html:not([data-scale]) .chooseOrderItem:not(:last-child)::after {
	  -webkit-transform: scaleY(0.33);
		  -ms-transform: scaleY(0.33);
			  transform: scaleY(0.33);
	}
  }

  html:not([data-scale]) .x-border::after {
	content: '';
	position: absolute;
	border:1px solid #ddd;
	display: block;
	z-index: 1;
	pointer-events: none;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	width: 200%;
	height: 200%;
	-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
	-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
			transform: scale(0.5);
  }

  html:not([data-scale]) .x-border-top::after {
	content: '';
	position: absolute;
	border:1px solid #ddd;
	display: block;
	z-index: 1;
	pointer-events: none;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	width: 100%;
	height:1px;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
		transform: scaleY(0.5);
  }

  .btnListItem .am-list-line .am-list-content{
	  text-align: center!important;
	  color:#108ee9!important;
  }

  /********************备品收货*****************************/
  .Checkone .wmsCheckBox{margin-right: 6px;}
  .wmsTb_wrap{margin:12px 12px; overflow-x: scroll;}
  .tb_td{display:inline-block;width:100px;}
  .tbHeader>div{display:inline-block;width:100px;box-sizing: border-box; padding-left: 8px;}
  .tb_w_sub{width:140px!important;}
  .wmsTb_wrap>.wmsTb{width:622px;}
  .wmsTb_wrap>.prepareTb_w_set{width:844px;}
  .wmsTb_Tbody div.active{ 
	   background: #70bef7 !important;
	   color: #FFF!important;
  }
  /********************改写antd*************************/
  .font-small .am-input-label{font-size:14px!important;}
  .btnGroup .buttonFontSmall>span{font-size:16px!important;}
  .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content img.am-grid-icon  {    width: 59% !important;
    margin-top: 2px;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content div.am-grid-text{color:#666;}
 
div.am-navbar{ background-color: $themeColor;}
a.am-button-primary{    background-color: $themeColor;
    border: 1PX solid $themeColor;}
/*********************************************/
  .copyrightBar{
	  position:absolute;
	  bottom:12px;
	  left:0;
	  right:0;
	  text-align:center;
  }
  .copyrightBar>p{   
	 color: #adadad;
	 font-size: 10px;
  }


  .wmsComfrimtxt{
	font-size: 15px;
    color: #888;
    height: 100%;
    line-height: 1.5;
	overflow: auto;
	padding: 0 15px 15px;
  }

  .fixHeader{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
  }

  .userBox{
	  background:$themeColor;
	  padding:12px;
	  height:86px;
	  position:relative;
  }
  


  .loginBtnBox .am-button-primary {
	border-radius: 25px;
	background-color: $themeColor;
  }

.cirBtn .btnBg{
    background: $themeColor;
}
.clBtn{
    color: $themeColor;
}